services:
  api:
    build: .
    container_name: bnpl_risk-api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - MODEL_PATH=/app/mlruns/1/models/m-cacd6654018946898329870611bbc8e7/artifacts
