name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - 'task-*'
  pull_request:
    branches:
      - main

jobs:
  setup-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # match Docker/requirements compatibility

      - name: Upgrade pip, setuptools, wheel
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run lint checks
        run: |
          pip install flake8
          flake8 src tests

      - name: Run unit & API tests
        run: |
          pip install pytest pytest-html
          pytest --maxfail=1 --disable-warnings -q --html=report.html

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: report.html
